footer{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.content_footer{
    width: 100%;
    margin: auto;
    display: flex;
    background: rgba(255, 255, 255, 0.76);
}
.arriba_footer{
    padding: 1%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.abajo_footer{
    width: 100%;
    text-align: center;
    padding: 0.5%;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.arriba_footer hr{
    margin: 2% 0%;
    border: none;
    height: 2px;
    background: #00000046;
}
.section_footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.content_info_footer{
    width: 100%;
    display: flex;
}
.content_info_footer > i{
    margin-right: 2%;
    color:  rgba(10, 131, 245, 1);
    font-size: 1.5em;
    line-height: 2;
}
.content_info_footer h4{
    font-weight: 900;
    margin-bottom: 2%;
}
.text_info_footer{
    width: 100%;
    padding: 1%;
}
.text_info_footer > hr{
    width: 20%;
    background-color:  rgba(10, 131, 245, 1);
    border: none;
    height: 2px;
}
.text_info_footer > p{
    font-weight: 400;
    margin: 3% 0%;
    color: #5c5c5c;
}
.text_info_footer > ul{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1%;
    list-style: none;
}
.text_info_footer > ul > li{
    color: #272727c0;
    margin: 2%;
    cursor: pointer;
}
.text_info_footer > ul > li > i{
    font-size: 1.4em;
    color:  rgb(0, 66, 128);
}
.contact_form{
    width: 100%;
    display: flex;
}
.contact_form > input{
    width: 90%;
    font-size: 1.2em;
    padding: 1%;
    outline: none;
    border: none;
    background: #b1b1b1;
}
.contact_form > button{
    width: 10%;
    background-color: rgba(10, 131, 245, 1);
    border: none;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    .section_footer{
        display: flex;
        flex-direction: column;
    }
}